header {
  background-color: #e3e4e5;
  color: #999;
  width: 100%;
  border-bottom: 1px solid #ddd;
}
header section {
  width: 1190px;
  margin: 0 auto;
  display: flex;
  height: 30px;
  border-bottom: 1px solid #ddd;
  background-color: #e3e4e5;
  justify-content: space-between;
}
header section .left {
  margin-left: 210px;
  position: relative;
  display: flex;
}
header section .left .home {
  height: 30px;
}
header section .left .home a {
  line-height: 30px;
  text-decoration: none;
  color: #999;
  font-size: 12px;
}
header section .left .home a:hover {
  color: red;
}
header section .left .loc {
  padding: 0 5px;
  line-height: 30px;
  font-size: 12px;
}
header section .left .loc:hover {
  background-color: white;
}
header section .left .loc:hover .didian {
  display: block;
}
header section .left .loc i {
  color: #f10215;
}
header section .left .loc .didian {
  position: absolute;
  top: 29px;
  left: -1px;
  background-color: white;
  display: none;
  width: 333px;
  height: 333px;
  border: 1px solid #ccc;
  padding: 8px;
  box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.1);
}
header section .left .loc .didian .top {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
header section .left .loc .didian .top ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
header section .left .loc .didian .top ul li {
  width: 60px;
  height: 24px;
  display: inline-block;
}
header section .left .loc .didian .top ul li a {
  color: #999;
  padding: 0 10px;
  display: inline-block;
  height: 24px;
  line-height: 24px;
  text-decoration: none;
}
header section .left .loc .didian .top ul li:hover a {
  background-color: #f10215;
  color: white;
}
header section .left .loc .didian .bottom p {
  padding-left: 20px;
  margin-top: 10px;
}
header section .left .loc .didian .bottom section {
  display: inline-block;
  width: 49%;
  padding-left: 20px;
  background-color: white;
  border-bottom: none;
}
header section .left .loc .didian .bottom section i {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: -5px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADcAAAAbCAYAAADYtRcLAAAAAklEQVR4AewaftIAAALFSURBVO3BTYhVVQAA4O9cn454xr+F0dA1FbOwQDBOgkFQizYtslzUokhCyBZCUWRBm9JVWSujRSW1iRDBCMKiaNMiqQ5URIU/pOgNRaJMHME3+m7PrpHKTMHj8Rim+b5Q17W/VSkNYzMewM04hD04jp1lzm2XCSG4Wt2lR6HLVb4Yvr7Wo5ZLqpRuxF4s949RvICleLVKaXuZ81EDNHpmlssFjdp/a+mqUhrGXix3pTfLnDv4uUrpKWyvUnq2zPmcAblp068EdAhFbe41HQGnTxbqTqBAbVwtjc1Y7kp7MaNKaWmZ85Ey57Eqpc/xGHaYQLj9Pf20+MVT/hIQOfTlDGd/v2DVXagxhmBcLY37cARLEDTuwUK8oatKaQ7ewgHsMCgHNeYFh3+Mdm9dZOTO+81fsMeSeIQLqI2r0PiozHkZTmhsw+P4tMy51ngfC7DSoBXoDPltf3L83Byj7aX++OkO9YUZFCbU0ggaBzGC3WXO31cpjeiqUgpYg4CZ/sUPp5/Tq1uMYwUKdM6J60+497pTOoe3mHnrYmFlzRhq42pptDTW4SV8XKX0LR7VVeZcVyk9iA/xlQE6tnW+i2rMLo5aNW+YMOzsrsrRsblCMKGWxi9VSivKnA9iU5XSK3ga31UpPVzm/FmZ8ydVShsx0wDtf32RRq2lRkdjnvMCgokUGjvxZJXSLI1dGMW1eERXldIcrME7BijGthjbYhwzFM8bih1DsWMonhfjmBjbYmyLsS3GthjbYmyLsS3Ude2iKqUSW/BamfOBKqUNeBvLsBAbsa3M+aRLQggms8IlZc4VnsHdVUovYwPO4HmsxhNlzidNmzZt2v9RqKn1KBBc5d2R1bUePXT8m6CPWvps3aF9ehZn66fCFNbSZ2tvW2+yKExhLXWtZyGYzFr6bN/Xe/RqOM7WT4UprKXPPrhhrcmiMIX9CRYv4u0MBGIsAAAAAElFTkSuQmCC);
}
header section .left .loc .didian .bottom section span {
  text-align: left;
}
header section .left .loc .didian .bottom section:nth-child(2) i {
  background-position: -20px 0;
}
header section .left .loc .didian .bottom section:nth-child(3) i {
  background-position: 0 -17px;
}
header section .left .loc .didian .bottom section:nth-child(4) i {
  background-position: -40px 0;
}
header section .right {
  width: 800px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  vertical-align: 5px;
  line-height: 28px;
  margin: 0px;
}
header section .right #username_top {
  color: red;
}
header section .right li {
  font-size: 12px;
  line-height: 30px;
}
header section .right li:hover {
  color: #f10215;
}
header section .right li a {
  text-decoration: none;
  color: #f10215;
}
header section .right li .meun_one {
  width: 300px;
  display: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  left: 0px;
  top: 29px;
  background: white;
  z-index: 2;
}
header section .right li .meun_one .top {
  padding: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
header section .right li .meun_one .bottom {
  padding: 10px;
}
header section .right li .meun_one dl {
  margin: 0;
}
header section .right li .meun_one dl dd {
  display: block;
  float: left;
  width: 45%;
  padding: 5px;
  color: #999;
}
header section .right li .meun_one dl dd:hover {
  color: #f10215;
}
header section .right #myjd {
  padding: 0 10px;
  position: relative;
}
header section .right #myjd:hover {
  background-color: white;
}
header section .right #myjd:hover .meun_one {
  display: block;
}
header section .right #qiye {
  padding: 0 10px;
  position: relative;
}
header section .right #qiye .meun_one {
  width: 180px;
}
header section .right #qiye:hover {
  background-color: white;
}
header section .right #qiye:hover .meun_one {
  display: block;
}
header section .right #kf {
  padding: 0 10px;
  position: relative;
}
header section .right #kf dt {
  color: black;
  padding: 0 5px;
}
header section .right #kf .meun_one {
  width: 180px;
}
header section .right #kf:hover {
  background-color: white;
}
header section .right #kf:hover .meun_one {
  display: block;
}
header section .right #wz {
  padding: 0 10px;
}
header section .right #wz dt {
  color: black;
  padding: 0 5px;
}
header section .right #wz .meun_one {
  width: 1153px;
  left: 14px;
  display: none;
}
header section .right #wz .meun_one div {
  border: none;
  padding: 10px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
header section .right #wz .meun_one div dt {
  margin: 10px 0;
}
header section .right #wz .meun_one .top {
  width: 350px;
}
header section .right #wz .meun_one .bottom {
  width: 267px;
}
header section .right #wz .meun_one .three {
  width: 267px;
}
header section .right #wz .meun_one .four {
  width: 267px;
}
header section .right #wz .meun_one dd {
  width: 82px;
}
header section .right #wz:hover {
  background-color: white;
}
header section .right #wz:hover .meun_one {
  display: flex;
}
nav {
  width: 1190px;
  margin: auto;
  padding: 30px 0;
}
nav div {
  display: inline-block;
}
nav .imgbox {
  background-image: url("../static/gw2.png");
  width: 132px;
  height: 42px;
}
nav .imgbox2 {
  vertical-align: 9px;
}
main {
  width: 1190px;
  margin: auto;
}
main .list_top {
  height: 40px;
  background-color: #e9e9e9;
  display: flex;
}
main .list_top section {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  border: 1px solid red;
  box-sizing: border-box;
}
main .list_top .one {
  width: 150px;
  padding: 0 0 0 20px;
}
main .list_top .two {
  width: 430px;
}
main .list_top .three {
  width: 160px;
}
main .list_top .four {
  width: 113px;
}
main .list_top .five {
  width: 100px;
}
main .list_top .six {
  width: 75px;
}
main .list_bottom ul {
  list-style: none;
  padding: 0px;
  margin-top: 20px;
}
main .list_bottom ul li {
  background-color: white;
  display: flex;
}
main .list_bottom ul li div {
  display: inline-block;
  height: 110px;
  border: 1px solid red;
}
main .list_bottom ul li .imgbox {
  width: 150px;
  padding: 0 0 0 20px;
}
main .list_bottom ul li .imgbox .img {
  margin-top: 15px;
  width: 80px;
  height: 80px;
}
main .list_bottom ul li .imgbox .img img {
  width: 100%;
  height: 100%;
}
main .list_bottom ul li .content {
  width: 430px;
}
main .list_bottom ul li .content p {
  width: 200px;
  height: 40px;
  line-height: 20px;
  overflow: hidden;
}
main .list_bottom ul li .price {
  width: 160px;
}
main .list_bottom ul li .number {
  width: 113px;
}
main .list_bottom ul li .number input {
  width: 100%;
}
main .list_bottom ul li .allprice {
  width: 100px;
}
main .list_bottom ul li .allprice span {
  font-weight: 800;
}
main .list_bottom ul li .cao {
  width: 75px;
}
main .list_bottom ul li .cao p {
  margin: 0px;
  font-size: 12px;
  line-height: 20px;
}
main .list_bottom ul li .cao p:hover {
  color: red;
}
footer .footer_top {
  width: 1190px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
footer .footer_top section {
  width: 225px;
}
footer .footer_top section i {
  display: inline-block;
  width: 36px;
  height: 42px;
  background-image: url("../static/bg.png");
}
footer .footer_top section p {
  overflow: hidden;
  margin-left: 10px;
  margin-bottom: 0px;
  height: 42px;
  line-height: 42px;
  font-size: 18px;
  font-weight: 700;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #444;
  margin-left: 20px;
  display: inline-block;
}
footer .footer_top section:nth-child(1) i {
  background-position: 0 -192px;
}
footer .footer_top section:nth-child(2) i {
  background-position: -41px -192px;
}
footer .footer_top section:nth-child(3) i {
  background-position: -82px -192px;
}
footer .footer_top section:nth-child(4) i {
  background-position: -123px -192px;
}
footer .line {
  width: 100%;
  height: 1px;
  background-color: rgba(80, 80, 80, 0.5);
  margin: 50px 0 30px 0;
}
footer .footer_main {
  width: 1190px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
footer .footer_main .footer_main_left ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0px;
  padding: 0px;
}
footer .footer_main .footer_main_left ul li {
  width: 198px;
  font-size: 14px;
  font-weight: 800;
}
footer .footer_main .footer_main_left ul li dl {
  font-size: 12px;
  font-weight: 400;
}
footer .footer_main .footer_main_left ul li dl dd {
  margin: 10px 0;
  color: #333;
}
footer .footer_main .footer_main_left ul li dl dd:hover {
  color: red;
}
footer .footer_main .footer_main_right section {
  width: 200px;
  height: 150px;
  background-image: url("../static/bg.png");
  background-position: 0 0;
  text-align: center;
}
footer .footer_main .footer_main_right section h5 {
  font-size: 14px;
  font-weight: 800;
}
footer .footer_main .footer_main_right section p {
  text-align: left;
  font-size: 12px;
}
footer .footer_main .footer_main_right section span {
  text-align: right;
  float: right;
}
footer .footer_bottom {
  width: 1190px;
  margin: auto;
  color: #333;
}
footer .footer_bottom ul {
  list-style: none;
  display: flex;
}
footer .footer_bottom ul li {
  margin: 0 7px;
}
footer .footer_bottom ul li:hover {
  color: red;
}
footer .footer_bottom p {
  text-align: center;
  font-size: 12px;
}
footer .footer_bottom p a {
  text-decoration: none;
  color: #333;
  font-size: 12px;
}
footer .footer_bottom p a:hover {
  color: red;
}
footer .footer_bottom .icon {
  text-align: center;
  margin-bottom: 10px;
}
footer .footer_bottom .icon section {
  display: inline-block;
}
footer .footer_bottom .icon section i {
  display: inline-block;
  width: 15px;
  height: 12px;
  background-image: url("../static/bg.png");
}
footer .footer_bottom .icon section span {
  color: #999;
}
footer .footer_bottom .icon section span:hover {
  color: red;
}
footer .footer_bottom .icon section:nth-child(1) i {
  background-position: -108px -155px;
}
footer .footer_bottom .icon section:nth-child(2) i {
  background-position: -168px -155px;
}
footer .footer_bottom .icon section:nth-child(3) i {
  background-position: -148px -155px;
}
footer .footer_bottom .icon section:nth-child(4) i {
  background-position: -128px -155px;
}
footer .footer_bottom .last_img {
  text-align: center;
  margin-bottom: 20px;
}
footer .footer_bottom .last_img section {
  width: 103px;
  height: 32px;
  margin: 0 10px;
  display: inline-block;
  background-image: url("../static/bg.png");
}
footer .footer_bottom .last_img section:nth-child(1) {
  background-position: -205px -148px;
}
footer .footer_bottom .last_img section:nth-child(2) {
  background-position: -205px -111px;
}
footer .footer_bottom .last_img section:nth-child(3) {
  background-position: -205px -74px;
}
footer .footer_bottom .last_img section:nth-child(4) {
  background-position: -205px -37px;
}
footer .footer_bottom .last_img section:nth-child(5) {
  background-position: -205px 0;
}
footer .footer_bottom .last_img section:nth-child(6) {
  background-position: 0 -155px;
}
